---
# Custom CSS
---
@import "whiteglass";

a, a:active, a:hover, a:visited {
  color: tomato
}

.post-list > li:not(:first-child) {
    border-top: 0px;
    padding-top: 0px;
}

h1.post-title a {
  font-size: 26px;
}

.post-list > li {
  margin-bottom: 0px;
}

.post-content {
  margin-bottom: 20px;
}
